html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca";
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.site-header {
  padding-top: 22px;
  padding-bottom: 22px;
}

.site-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-logo:hover {
  opacity: 0.5;
  transition: 0.3s ease;
}

.site-nav__list {
  display: flex ;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}

.site-nav__link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-left: 32px;
}

.site-nav__link:hover {
  color: #FCB72B;
  transition: 0.3s ease;
}

.site-nav--getscot__link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  padding: 14px 39px;
  border: 3px solid #FCB72B;
  background-color: #FCB72B;
  color: #FFFFFF;
  margin-left: auto;

}

.site-nav--getscot__link:hover {
  border: 3px solid #FCB72B;
  background-color: transparent;
  color: #FCB72B;
}

/* Hero */

.site-hero {
  padding-top: 68px;
  padding-bottom: 68px;
  background-image: url("../img/hero.png"),
    url("../img/about-hero-bgimg.png");
  background-size: cover;
}

.site-hero__title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  margin: 0;
}

.site-hero__title::before {
  width: 234px;
  height: 63px;
  position: absolute;
  content: "";
  display: block;
  right: -193px;
  background-image: url("../img/site-hero-round.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Intro */

.site-intro {
  padding-top: 120px;
  padding-bottom: 50px;
}

.site-intro {
  background-image: url("../img/mask.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 850px) 120px;
}

.mobilitiy-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-intro__content {
  width: 445px
}

.adventies-section__title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
  margin-bottom: 24px;
}

.adventies-section__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin: 0;
  margin-bottom: 40px;
}

.mobilitiy-img {
  position: relative;
}

.mobilitiy-img::before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 735px;
  height: 100%;
  top: 260px;
  left: -135px;
  background-image: url("../img/about-arrow.svg");
  background-repeat: no-repeat;
}

.about-intro__img {
  border-radius: 50%;
}

.site-feature {
  padding-top: 50px;
  padding-bottom: 90px;
}

.site-feature {
  background-image: url("../img/mask.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + -860px) 50px;
}

.better-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.better-img {
  position: relative;
}

.better-img::before {
  position: absolute;
  content: "";
  width: 745px;
  height: 100%;
  top: 0px;
  right: 255px;
  background-image: url("../img/box-two-bg.svg");
  background-repeat: no-repeat;
}

.site-feature__content {
  width: 445px
}

.about-feature__img {
  border-radius: 50%;
}

/* Our */

.our-values{
  padding-top: 50px;
  padding-bottom: 150px;
}

.values-heading__box{
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.values-heading{
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
  padding: 0;
}

.our-values__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.our-values__item{
  display: flex;
  flex-direction: column;
}

.values-item__title{
  font-family: "Space Mono", monospace;
  width: 350px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.values-item__text{
  width: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939CAA;
  margin: 0;
  padding: 0;
}

.item-img__wrapper{
  position: relative;
  margin-bottom: 87px;
  margin-left: auto;
  margin-right: auto;
}

.item-img__wrapper::after{
  content: "";
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  bottom: -45px;
  right: 75px;
  background-image: url("../img/01\ \(2\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.number-two{
  position: relative;
}

.number-two::after{
  content: "";
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  bottom: -45px;
  right: 75px;
  background-image: url("../img/02.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.number-three{
  position: relative;
}

.number-three::after{
  content: "";
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  bottom: -45px;
  right: 75px;
  background-image: url("../img/03.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


/* Faqs */

.faqs{
  padding-bottom: 160px;
}

.faqs-heading__box{
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.faqs-haeading{
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
  padding: 0;
}

.how-it-works{
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.howit-title__box{
  width: 350px;
}

.how-it__title{
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
  margin: 0;
  padding: 0;
}

.first-wrapper{
  width: 730px;
  background-color: #F2F5F9;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 40px;
  margin-bottom: 16px;
  transition: background-color 0.3s ease;
}

.first-wrapper:hover{
  background-color: #FFF4DF;
}

.btn{
  display: block;
  border: none;
  margin-right: 42px;
  background-color: #F2F5F9;
  background-image: url("../img/faq-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.first-wrapper__title{
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin: 0;
  padding: 0;
}

/* Last-section */

.site-last__section {
  padding-top: 102px;
  padding-bottom: 102px;
  background-color: #495567;
  background-image: url("../img/last-section-bgimg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 290px) 140px;
}

.site-last--section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-last--section__title {
  max-width: 415px;
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

.appstore {
  margin-right: 18px;
}

/* Footer */

.site-footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #333A44;
}

.footer__icon-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
}

.footer__icon-item {
  margin-right: 16px;
}

.footer__icon-item:nth-child(3n){
  margin-right: 0;
}

.footer__icon-img {
  fill: #FCB72B;
  transition: fill 0.4s ease;
}

.footer__icon-img:hover{
  fill: #FFFFFF;
}

.another__text {
  margin: 0;
  margin-top: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
  text-align: right;
}